<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ChartMapper">

    <select id="getPostCntByWriteDate" resultType="Integer">
        SELECT COUNT(no)
        FROM board
        GROUP BY DATE(writedate)
    </select>

    <select id="getWriteDate" resultType="Date">
        SELECT DATE(writedate)
        FROM board
        GROUP BY DATE(writedate)
    </select>

</mapper>