<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

    <insert id="signUpProc" parameterType="UserDTO">
        INSERT INTO user (userId, password, name, gender, email)
        VALUES (#{userId}, #{password}, #{name}, #{gender}, #{email})
    </insert>

    <select id="signInProc" parameterType="UserDTO" resultType="Integer">
        SELECT COUNT(userId)
        FROM user
        WHERE userId = #{userId} AND password = #{password}
    </select>

    <select id="checkUserId" parameterType="UserDTO" resultType="Integer">
        SELECT COUNT(userId)
        FROM user
        WHERE userId = #{userId}
    </select>

</mapper>